body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.teacher-name {
    margin: 15px 0px;
    letter-spacing: 2px;
    background-color: cadetblue;
    padding: 20px;
    color: #fff;
}

.field-group {
    margin: 20px;
    letter-spacing: 0.7px;
    line-height: 1.6;
    padding-bottom: 20px;
    font-size: 15px;
}

.br-btm {
    border-bottom: 2px solid cadetblue;
}

.class-name {
    color: cadetblue;
}

.class-group {
    margin: 10px 0;
}

li {
    list-style-type: circle;
}

.btn-link{
    font-weight: 500;
}

.no-results {
    margin: 30px 60px;
}